#tname{
    font-family:  Georgia, Times, 'Times New Roman', serif;
}
#art{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    border: 10px solid;
}
#dit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    padding-left: 15%;
    padding-top: -35%;
    border: 10px solid;
    color: linear-gradient( to left, white,blue);
    

}
#agy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    border: 10px solid;
}
.img1{

    box-shadow: 0px 10px 20px;
    background-color: forestgreen;
    border: 5px solid;
    cursor: pointer;
    transition: 400ms;
}
.img2{ 

    box-shadow: 0px 10px 20px;
    background-color: rgb(97, 2, 223);
    border: 5px solid;
    margin-left: 100PX;
    cursor: pointer;
    transition: 445ms;
}
.img3{
    box-shadow: 0px 10px 20px;
    background-color: rgb(97, 2, 223);
    border: 5px solid;
    margin-left: 100PX;
    cursor: pointer;
    transition: 450ms;
}
.img:hover{

    transform: scale(1.03);
}
#title{
    font-family: monospace;
    font-size: 50px;
}
#pra1{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#body{
    background-image: url(https://images.pexels.com/photos/2916450/pexels-photo-2916450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}
#img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


